<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/common-meta') %>
    <title>Postal System Home</title>
  </head>
  <body>
    <main>
      <%- include('partials/header') %>
      <h2>Links</h2>
      <%- include('partials/links', {
        links: [
          {name: "Login", path: "/login"},
          {name: "Packages", path: "/packages"},
          {name: "Add Package", path: "/package/add"}
        ]
      }) %>
    </main>
  </body>
</html>
